* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

main#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left img {
  width: 25px;
  height: 25px;
}

main#content section {
  width: 600px;
}
