html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 200px;
  height: 60px;
  background: #000;
  margin: 5px;
}

.red {
  background: #800;
  order: 1;
}

.green {
  background: #080;
  order: 2;
}

.blue {
  background: #008;
  order: 0;
}
